{% extends 'edit_chapter/edit_chapters.html' %}
{% block editor %}
<div class="title"> Chapter</div>
<div class="content">
    <form id="" action="" method="post" accept-charset="utf-8" class="form-signin">
        {% csrf_token %}
        {{ chapterForm.as_ul }}
        <div class="saveButton">
            <button name="submit_chapter" type="submit" class="myButton">save</button>
        </div>
        <br>
        <div class="deleteButton">
            <button name="delete_chapter" type="submit" class="myButton">delete</button>
        </div>
    </form>
</div>
{% endblock %}