{% load static %}
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="{% static 'brain.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chapters.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'chapters.js' %}"></script>
</head>
<body>
<div id="mySidenav" class='leftMenu'>
    <div class="topmenu">
        <a class="newchapter" href="/tutorial/edit_chapters/">new</a>
        <a href="javascript:void(0)" class="closebtn" id="closeButton">&times;</a>
    </div>

    {% for chapter in chapter_list %}
    <a href="/tutorial/edit_chapters/{{ chapter.name }}">{{ chapter.displayName }}</a>
    {% endfor %}

</div>
<span id="drawer">&#9776;</span>
<div id='main'>
    <div class="title"> {{ title }}</div>
    <div class="content">
        <form id="" action="" method="post" accept-charset="utf-8" class="form-signin">
            {% csrf_token %}
            <div class="chapter_div">
                <label for="name"> name:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="" value="{{ chapter.name }}"
                       {{
                       readonlyValue }}>
                <br>
                <label for="displayName">displayName:</label>
                <input type="text" id="displayName" name="displayName" class="form-control" placeholder=""
                       value="{{ chapter.displayName }}">
                <br>
                <label for="content">content:</label>
                <textarea id="content " name="content" ng-model="myText" rows="10"
                          cols="150">{{ chapter.content }}</textarea>
            </div>
            <br>
    </div>

    <div class="saveButton">
        <button name="submit" type="submit" class="myButton">save</button>
    </div>
    <br>
    <div class="deleteButton">
        <button name="delete" type="submit" class="myButton">delete</button>
    </div>
    </form>
</div>
</body>
</html>